

<!doctype html>
<html>

<head>
    <title>Classic - CoolCalcs</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./logo.ico">
    
</head>

<body>
    <nav class="navbar">
        <div class="logo"><a href="/">Cool<span style="color: #ffe45e">Calcs</span></a></div>
        <div class="nav-links">
            <a href="#about">About</a>
            <a href="#calculators">Calculators</a>
        </div>
    </nav>



    <div class="site">
        <div class="textbox">
            <h1 id="about">Coming Soon...</h1>
            <hr>
            <p>hopefully... or not, idk. ig we'll see</p>
        </div>
    </div>
    




</body>


</html>